.container {
  display:flex;
  align-items:center;
  justify-content:center;
  height:8em;
}

.normal {
  font-size:90%;
  font-weight:700;
  line-height:2.3;
}

.box {
  border-radius:3px;
  border-width:1px;
  height:20px;
}